[mysql]
default-character-set = utf8mb4

[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
skip-host-cache
skip_name_resolve = 1
lower_case_table_names = 1

# timeout
wait_timeout = 3600
interactive_timeout = 3600
lock_wait_timeout = 1800

# others
max_allowed_packet = 1024M
sql_mode = NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER,NO_ZERO_DATE

[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
